@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Josefin Sans", sans-serif;
}
body {
  background-color: hsl(236, 33%, 92%);
}
.bg-img {
  background-image: url(./images/bg-mobile-light.jpg);
  width: 100%;
  position: absolute;
  height: 200px;
  z-index: -1;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  top: 0;
}
.heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.adding-todo {
  background-color: hsl(0, 0%, 100%);
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  height: 50px;
  padding-inline: 10px;
  border-radius: 10px;
}
.todo-check {
  border: 1px solid hsl(233, 11%, 84%);
  padding-inline: 6px;
  border-radius: 50%;
}
.todo-typing {
  padding: 15px;
  width: 100%;
  height: 100%;
  border: none;
  background-color: transparent;
}
.adding-todo-page {
  display: grid;
  grid-template-columns: 0.5fr 9fr 0.5fr;
  gap: 15px;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  padding: 15px 10px;
  border-bottom: 1px solid hsl(234, 39%, 85%);
}
.todo-lists {
  background-color: white;
}
.container {
  width: 90%;
  margin: auto;
  margin-top: 20px;
}
.todo-options {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 10px;
}
.todo-link {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  background-color: white;
  margin-top: 20px;
  padding: 15px 10px;
  border-radius: 10px;
}
.option:hover {
  color: hsl(220, 98%, 61%);
  font-weight: bolder;
  cursor: pointer;
}
.todo-content {
  border-radius: 10px;
}
.todo-check.checked {
  background-image: linear-gradient(hsl(192, 100%, 67%), hsl(280, 87%, 65%));
}
.todo-text-content.crossed {
  text-decoration: line-through;
}
body.dark-mode {
  background-color: hsl(235, 21%, 11%);
}
.todo-text-content.dark-mode {
  color: hsl(234, 39%, 85%);
}
.todo-content.dark-mode {
  background-color: hsl(235, 21%, 11%);
}
.adding-todo-page.dark-mode {
  background-color: hsl(235, 24%, 19%);
  color: hsl(234, 39%, 85%);
}
.todo-link.dark-mode {
  background-color: hsl(235, 24%, 19%);
  color: white;
}
.heading.dark-mode {
  color: white;
}
.todo-lists.dark-mode {
  background-color: hsl(235, 24%, 19%);
  color: white;
}
.adding-todo.dark-mode {
  background-color: hsl(235, 24%, 19%);
  color: white;
}
